{% extends 'base.html' %} 
{% block title %}Income List{% endblock %} 
{% block content %}
<div class="container mt-4" style="max-width: 800px;">

  <div class="d-flex justify-content-between align-items-center">
        <h2 class="text-success">Manage Your Income</h2>
        <a href="{% url 'add_income' %}" class="btn btn-primary mt-3">
            <i class="fas fa-plus-circle"></i> Add New Income
        </a>
    </div>
  {% if incomes %}
  <table class="table table-striped table-bordered mt-3">
    <thead>
    <tr class="text-center font-weight-bold" style="background-color: #ADD8E6; color: #343a40;">

         <th>Date</th>
        <th>Salary</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for income in incomes %}
      <tr class="text-center">
        <td>{{ income.date }}</td>
        <td>{{ income.salary }}</td>
        <td>
          <a
            href="{% url 'update_income' income.id %}"
            class="btn btn-outline-warning btn-sm" 
                           title="Edit Income">
                            <i class="fas fa-edit"></i> Edit
        </a>
          <a
            href="{% url 'delete_income' income.id %}"
            class="btn btn-outline-danger btn-sm" 
                           title="Delete Income">
                            <i class="fas fa-trash-alt"></i> Delete
        </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <div
    class="d-flex flex-column align-items-center justify-content-center text-center bg-light p-4 border border-dashed rounded"
  >
    <i
      class="fas fa-wallet mb-3"
      style="font-size: 3rem; color:color: #007BFF;"
    ></i>
    <h2 class="text-secondary">No Income Added Yet</h2>
    <p class="text-muted">
      Start tracking your income by adding your first entry!
    </p>
    <a href="{% url 'add_income' %}" class="btn btn-primary mt-3"
      >Add New Income</a
    >
  </div>
  {% endif %}
</div>
{% endblock %}
